@model MakaleEntities.Kullanici
@{
    ViewBag.Title = "Profiliniz";
}

<div class="container">
    <div class="row">
        <h3>
            <b>
                @ViewBag.Title
            </b>
        </h3>
    </div>

    <div class="row">

        <div class="col-md-3">

            <img src="~/Resim/@Model.ProfilResimDosyaAdi"
                 class="img-thumbnail" width="150" height="150" />
        </div>
        <div class="col-md-5">
            <h3>@(Model.Adi+" "+Model.Soyadi)</h3>
            <br />
            <h3><b>email:</b>@Model.Email</h3>
            <br />
            <h3><b>Kullanıcı:</b>@Model.Adi</h3>
        </div>
        <div class="col-md-4"></div>

        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                Seçenekler

            </button>
            <ul class="dropdown-menu">
                <li><a href="/Home/ProfilDegistir"><span class="glyphicon glyphicon-edit ">&nbsp; </span>Değiştir</a></li>
                <li><a href="/Home/ProfilSil" onclick="return confirm('Silmek istediğinize emin misiniz?')"> <span class="glyphicon glyphicon-trash">&nbsp; </span>Sil </a></li>
            </ul>
        </div>


    </div>

</div>
@section footer{

    @Html.Partial("_PartialPageFooter")

}